matplotlib==3.8.2
seaborn==0.13.0
numpy>=1.26
Pillow==10.1.0
xlsxwriter==3.1.9
python-dotenv==1.0.1
pandas==2.2.3
openpyxl==3.1.5
requests==2.32.3
selenium==4.18.1
webdriver-manager==4.0.1
pymongo==4.6.1
